@media (min-width: 1401px) {
  .my-container {
    width: 60%;
  }

  .card-product-item {
    width: calc((100% / 6) - 10px);
  }
}

@media (max-width: 1400px) {
  .my-container {
    width: 90%;
  }

  .card-product-item {
    width: calc((100% / 4) - 10px);
  }
}

@media (max-width: 1024px) {
  .my-container {
    width: 98%;
  }

  .card-product-item {
    width: calc((100% / 3) - 10px);
  }
}

@media (max-width: 768px) {
  .my-container {
    width: 98%;
  }

  .card-product-item {
    width: calc((100% / 2) - 10px);
  }
}
