<div class="flexRowCenter py-[20px]">
  <div class="my-container rounded-[3px]">
    <div class="pt-[20px] pl-[20px] bg-white pb-[20px]">
      <h1 class="uppercase opacity-[.7]">Danh mục</h1>
    </div>
    <div class="w-full bg-white relative">
      <div
        id="btn_prev_cate"
        class="absolute top-[50%] left-0 w-[50px] h-[50px] rounded-full flexCenter z-[100] bg-white border-[1px] border-[#ccc] translate-y-[-50%] cursor-pointer scale-[.7] hover:scale-[1] transition"
      >
        <i class="fas fa-chevron-left"></i>
      </div>

      <div
        id="btn_next_cate"
        class="absolute top-[50%] right-0 w-[50px] h-[50px] rounded-full flexCenter z-[100] bg-white border-[1px] border-[#ccc] translate-y-[-50%] cursor-pointer scale-[.7] hover:scale-[1] transition"
      >
        <i class="fas fa-chevron-right"></i>
      </div>

      <div id="box_slider_cate" class="slider_cate overflow-hidden">
        <div id="slides_cate" class="slides_cate my-transition w-full">
          <div id="cate_row_1" class="flex"></div>
          <div id="cate_row_2" class="flex no-wrap"></div>
        </div>
      </div>
    </div>
  </div>
</div>
